{
  "openapi": "3.0.1",
  "info": {
    "title": "Easy-Peasy.AI API",
    "description": "API for Easy-Peasy.AI text, image, video, audio, and chat features. Authenticate with an API key from https://easy-peasy.ai/settings/api. Individual endpoints document public access and alternative authentication methods.",
    "version": "1.0.5"
  },
  "servers": [
    {
      "url": "https://easy-peasy.ai"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/generate": {
      "post": {
        "summary": "Generate Text",
        "operationId": "generateText",
        "description": "Programmatically generate outputs for any of the [Templates](https://easy-peasy.ai/presets). Each template (preset) accepts different parameters — see the request body schema and examples below.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              },
              "examples": {
                "custom-generator": {
                  "summary": "Custom Generator",
                  "description": "Generate custom text for any purpose.\n\n**keywords** — What do you want to generate? (maxlength: 1000)\n\n**extra1** — Background Information (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "custom-generator",
                    "keywords": "Write an email to potential investors about my startup",
                    "outputs": 1,
                    "language": "English",
                    "shouldUseGPT4": false
                  }
                },
                "paragraph-writer": {
                  "summary": "Paragraph Writer",
                  "description": "Generate paragraphs with the click of a button.\n\n**keywords** — What the paragraph is about (maxlength: 1000)\n\n**tone** — Tone (maxlength: 100)\n\n**length** — Output length",
                  "value": {
                    "preset": "paragraph-writer",
                    "keywords": "how to optimize your website for search engines",
                    "tone": "friendly, funny, cheerful",
                    "length": "Medium",
                    "outputs": 1
                  }
                },
                "instagram-post-caption": {
                  "summary": "Instagram Post Caption",
                  "description": "Generate a caption for an Instagram post.\n\n**keywords** — Post Topic (maxlength: 1000)\n\n**tone** — Tone (maxlength: 1000)\n\n**length** — Output length",
                  "value": {
                    "preset": "instagram-post-caption",
                    "keywords": "weekend with family in the park",
                    "tone": "friendly, funny, cheerful",
                    "length": "Short",
                    "outputs": 1
                  }
                },
                "linkedin-post-generator": {
                  "summary": "LinkedIn Post Generator",
                  "description": "Get more out of LinkedIn with the LinkedIn Post Generator.\n\n**keywords** — What is your post about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "linkedin-post-generator",
                    "keywords": "Announcing our new AI product launch",
                    "tone": "professional, energetic, funny",
                    "outputs": 1
                  }
                },
                "full-blog-post": {
                  "summary": "Full Blog Post",
                  "description": "Generate a full blog post in seconds.\n\n**extra2** — Blog post title/topic (maxlength: 1000)\n\n**extra1** — Blog post intro (maxlength: 1000)\n\n**keywords** — Blog post outline (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "full-blog-post",
                    "extra2": "How To Become A Software Engineer",
                    "extra1": "The skills required to become a software engineer. The education required to become a software engineer.",
                    "keywords": "",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "blog-post": {
                  "summary": "Blog Post",
                  "description": "Generate complete blog posts on any topic in seconds.\n\n**keywords** — Describe your blog topic (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "blog-post",
                    "keywords": "I visited the crypto event Token2049 in Singapore and met many VCs and entrepreneurs.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "aida-framework": {
                  "summary": "AIDA Framework",
                  "description": "Attention, Interest, Desire, Action. Generate a sales copy.\n\n**keywords** — Product description (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "aida-framework",
                    "keywords": "Easy-Peasy.AI is an AI copywriting tool that can help you with a variety of writing tasks.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "before-after-bridge-framework": {
                  "summary": "Before-After-Bridge Framework",
                  "description": "Before, After, Bridge. Generate marketing copy in seconds.\n\n**keywords** — Product description (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "before-after-bridge-framework",
                    "keywords": "Easy-Peasy.AI is an AI copywriting tool that can help you with a variety of writing tasks.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "problem-agitate-solution-framework": {
                  "summary": "Problem-Agitate-Solution Framework",
                  "description": "Problem-Agitate-Solution. Write Persuasive Copy.\n\n**keywords** — Product description (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "problem-agitate-solution-framework",
                    "keywords": "Easy-Peasy.AI is an AI copywriting tool that can help you with a variety of writing tasks.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "sentence-expander": {
                  "summary": "Sentence Expander",
                  "description": "Make your writing more engaging and interesting to read.\n\n**keywords** — Sentence to expand (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "sentence-expander",
                    "keywords": "Today is good weather",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "content-rewriter": {
                  "summary": "Content Rewriter",
                  "description": "Make your content shine with our easy-to-use content rewriter.\n\n**keywords** — Content (maxlength: 5000)\n\n**tone** — Tone (maxlength: 1000)",
                  "value": {
                    "preset": "content-rewriter",
                    "keywords": "Most companies try to stay ahead of the curve when it comes to visual design.",
                    "tone": "friendly, funny, cheerful",
                    "outputs": 1
                  }
                },
                "content-summarizer": {
                  "summary": "Content Summarizer",
                  "description": "Get the main points of any text in a fraction of the time.\n\n**keywords** — Content (maxlength: 100000)\n\n**length** — Output length",
                  "value": {
                    "preset": "content-summarizer",
                    "keywords": "Paste your long content here to summarize.",
                    "length": "Short",
                    "outputs": 1
                  }
                },
                "grammar-corrector": {
                  "summary": "Grammar Corrector",
                  "description": "Make sure your writing is error-free.\n\n**keywords** — Text (maxlength: 5000)",
                  "value": {
                    "preset": "grammar-corrector",
                    "keywords": "I has breakfast with the my friends these morning.",
                    "outputs": 1
                  }
                },
                "native-speaker": {
                  "summary": "Native Speaker",
                  "description": "Clear, concise and authentic writing.\n\n**keywords** — Text (maxlength: 5000)",
                  "value": {
                    "preset": "native-speaker",
                    "keywords": "I has breakfast with the my friends these morning.",
                    "outputs": 1
                  }
                },
                "email-generation": {
                  "summary": "Email Generator",
                  "description": "Turn a sentence into an email.\n\n**keywords** — Email Topic (maxlength: 1000)",
                  "value": {
                    "preset": "email-generation",
                    "keywords": "ask about pay raise",
                    "outputs": 1
                  }
                },
                "email-subject-line-generation": {
                  "summary": "Email Subject Line Generator",
                  "description": "Generate attention-grabbing email subject lines.\n\n**keywords** — What is the email about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "email-subject-line-generation",
                    "keywords": "ask about pay raise",
                    "tone": "professional, energetic",
                    "outputs": 1
                  }
                },
                "reply-to-email": {
                  "summary": "Reply to Email",
                  "description": "Make your email replies more efficient.\n\n**keywords** — Received Email (maxlength: 2000)\n\n**extra2** — Your Reply (maxlength: 1000)\n\n**extra1** — What to include in your reply? (optional) (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "reply-to-email",
                    "keywords": "Hi Janice! How did you spend your weekend?",
                    "extra2": "Positive",
                    "extra1": "went to East Coast park with family",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "reply-to-messsage": {
                  "summary": "Reply to Message",
                  "description": "Reply to WhatsApp, Slack or any other message.\n\n**keywords** — Message (maxlength: 2000)\n\n**extra2** — Your Reply (maxlength: 1000)\n\n**extra1** — What to include in your reply? (optional) (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "reply-to-messsage",
                    "keywords": "Hi Janice! How did you spend your weekend?",
                    "extra2": "Positive",
                    "extra1": "went to East Coast park with family",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "blog-post-title": {
                  "summary": "Blog Post Title",
                  "description": "Generate catchy titles for your blog posts.\n\n**keywords** — Describe your blog topic (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "blog-post-title",
                    "keywords": "I visited the crypto event Token2049 in Singapore.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "blog-post-outline": {
                  "summary": "Blog Post Outline",
                  "description": "Writing a blog post is easy when you have a plan.\n\n**keywords** — Blog post title/topic (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "blog-post-outline",
                    "keywords": "How To Become A Software Engineer",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "blog-post-intro": {
                  "summary": "Blog Post Intro",
                  "description": "Get your readers hooked from the very beginning.\n\n**keywords** — Blog post title/topic (maxlength: 1000)\n\n**extra1** — What is the blog about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "blog-post-intro",
                    "keywords": "How To Become A Software Engineer",
                    "extra1": "The skills required to become a software engineer.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "blog-post-conclusion": {
                  "summary": "Blog Post Conclusion",
                  "description": "End your blog post with a bang.\n\n**keywords** — Blog post title/topic (maxlength: 1000)\n\n**extra1** — What is the blog about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "blog-post-conclusion",
                    "keywords": "How To Become A Software Engineer",
                    "extra1": "The skills required to become a software engineer.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "headline-generator": {
                  "summary": "Headline Generator",
                  "description": "Make your headlines pop.\n\n**keywords** — Topic (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "headline-generator",
                    "keywords": "Website Design",
                    "tone": "catchy, energetic, clever",
                    "outputs": 1
                  }
                },
                "clickbait-title-generator": {
                  "summary": "Clickbait Title Generator",
                  "description": "Generate attention-grabbing titles that get clicks.\n\n**keywords** — Topic (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "clickbait-title-generator",
                    "keywords": "Website Design",
                    "tone": "catchy, energetic, clever",
                    "outputs": 1
                  }
                },
                "catchy-tagline": {
                  "summary": "Catchy Tagline",
                  "description": "Create catchy slogans and taglines.\n\n**keywords** — Tell us about your business or product (maxlength: 1000)",
                  "value": {
                    "preset": "catchy-tagline",
                    "keywords": "Easy-Peasy.AI is an AI copywriting tool that can help you with a variety of writing tasks.",
                    "outputs": 1
                  }
                },
                "youtube-video-title": {
                  "summary": "YouTube Video Title",
                  "description": "Generate catchy titles for your YouTube Videos.\n\n**keywords** — What is your video about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "youtube-video-title",
                    "keywords": "I visited the crypto event Token2049 in Singapore.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "youtube-video-description": {
                  "summary": "YouTube Video Description",
                  "description": "Make your videos stand out with great descriptions.\n\n**keywords** — What is your video about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "youtube-video-description",
                    "keywords": "I visited the crypto event Token2049 in Singapore.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "youtube-video-ideas": {
                  "summary": "YouTube Video Ideas",
                  "description": "Get inspired to make your next YouTube video.\n\n**keywords** — What is your video about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "youtube-video-ideas",
                    "keywords": "AI and machine learning tutorials",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "youtube-video-script-outline": {
                  "summary": "YouTube Video Script Outline",
                  "description": "Make your next video a hit with a professional script outline.\n\n**keywords** — What is your video about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "youtube-video-script-outline",
                    "keywords": "AI and machine learning tutorials",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "tiktok-video-caption": {
                  "summary": "TikTok Video Caption",
                  "description": "Get more likes and views on your TikTok videos.\n\n**keywords** — What is your video about? (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "tiktok-video-caption",
                    "keywords": "I visited the crypto event Token2049 in Singapore.",
                    "tone": "professional, energetic, clever",
                    "outputs": 1
                  }
                },
                "resume-headline-generator": {
                  "summary": "Resume Headline Generator",
                  "description": "Get the Job You Want.\n\n**keywords** — Job Role and skills (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "resume-headline-generator",
                    "keywords": "web developer, php, javascript",
                    "tone": "professional, energetic",
                    "outputs": 1
                  }
                },
                "resume-objective-generator": {
                  "summary": "Resume Objective Generator",
                  "description": "Create your professional resume objective.\n\n**keywords** — Job Title (maxlength: 1000)\n\n**extra1** — Key skills (optional) (maxlength: 1000)\n\n**extra2** — Professional goals (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "resume-objective-generator",
                    "keywords": "Customer Service Agent",
                    "extra1": "trained in conflict resolution and communication",
                    "extra2": "increase sales and customer loyalty",
                    "outputs": 1
                  }
                },
                "linkedin-bio-generator": {
                  "summary": "LinkedIn Bio Generator",
                  "description": "Create a custom bio that will help you stand out.\n\n**keywords** — Personal Information (maxlength: 1000)",
                  "value": {
                    "preset": "linkedin-bio-generator",
                    "keywords": "Software engineer with 5 years of experience in web development.",
                    "outputs": 1
                  }
                },
                "linkedin-headline-generator": {
                  "summary": "LinkedIn Headline Generator",
                  "description": "Create the Perfect Professional Headline.\n\n**keywords** — Job Role and skills (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "linkedin-headline-generator",
                    "keywords": "web developer, php, javascript",
                    "tone": "professional, energetic",
                    "outputs": 1
                  }
                },
                "linkedin-recommendation-generator": {
                  "summary": "LinkedIn Recommendation Generator",
                  "description": "Generate a recommendation for someone's profile.\n\n**keywords** — Name of the person (maxlength: 1000)\n\n**extra3** — Their Job Title (maxlength: 1000)\n\n**extra1** — Company name (maxlength: 1000)\n\n**extra2** — Role of the person (maxlength: 1000)\n\n**extra4** — What to include (optional) (maxlength: 500)",
                  "value": {
                    "preset": "linkedin-recommendation-generator",
                    "keywords": "Peter Parker",
                    "extra3": "Web Developer",
                    "extra1": "Google",
                    "extra2": "Colleague",
                    "extra4": "Successful in managing projects and implementing new technologies",
                    "outputs": 1
                  }
                },
                "job-description-generator": {
                  "summary": "Job Description Generator",
                  "description": "Quickly generate job descriptions.\n\n**keywords** — Job Title (maxlength: 1000)\n\n**extra1** — Key skills (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "job-description-generator",
                    "keywords": "Customer Service Agent",
                    "extra1": "trained in conflict resolution and communication",
                    "outputs": 1
                  }
                },
                "job-summary-generator": {
                  "summary": "Job Summary Generator",
                  "description": "Get a strong, attention-grabbing summary.\n\n**keywords** — Job Title (maxlength: 1000)\n\n**extra1** — Company overview (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "job-summary-generator",
                    "keywords": "Customer Service Agent",
                    "extra1": "What makes your company unique. Include details about your company culture",
                    "outputs": 1
                  }
                },
                "job-qualifications-generator": {
                  "summary": "Job Qualifications Generator",
                  "description": "Quickly generate job qualifications.\n\n**keywords** — Job Title (maxlength: 1000)\n\n**extra1** — Requirements (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "job-qualifications-generator",
                    "keywords": "Customer Service Agent",
                    "extra1": "educational, work Experience, soft skills, languages spoken",
                    "outputs": 1
                  }
                },
                "job-responsibilities-generator": {
                  "summary": "Job Responsibilities Generator",
                  "description": "Quickly generate job responsibilities.\n\n**keywords** — Job Title (maxlength: 1000)\n\n**extra1** — Responsibilities and Duties (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "job-responsibilities-generator",
                    "keywords": "Customer Service Agent",
                    "extra1": "Specify core responsibilities, day-to-day activities",
                    "outputs": 1
                  }
                },
                "interview-questions-generator": {
                  "summary": "Interview Questions Generator",
                  "description": "Make your next interview preparation a breeze.\n\n**keywords** — Job Title (maxlength: 1000)",
                  "value": {
                    "preset": "interview-questions-generator",
                    "keywords": "Customer Service Agent",
                    "outputs": 1
                  }
                },
                "interview-feedback-generator": {
                  "summary": "Interview Feedback Generator",
                  "description": "Write Interview Feedback With Ease.\n\n**keywords** — Job Title (maxlength: 1000)\n\n**extra1** — Feedback Notes (maxlength: 1000)",
                  "value": {
                    "preset": "interview-feedback-generator",
                    "keywords": "Lead iOS Developer",
                    "extra1": "8 years of experience. Knows design patterns, SOLID principles.",
                    "outputs": 1
                  }
                },
                "performance-review-generator": {
                  "summary": "Performance Review Generator",
                  "description": "Make your performance review process easy.\n\n**keywords** — Employee Name (maxlength: 1000)\n\n**extra3** — Employee Job Title (maxlength: 1000)\n\n**extra1** — Key Achievements (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "performance-review-generator",
                    "keywords": "Peter Parker",
                    "extra3": "Web Developer",
                    "outputs": 1
                  }
                },
                "smart-goal-generator": {
                  "summary": "SMART Goal Generator",
                  "description": "Generate SMART (Specific, Measurable, Achievable, Relevant, Time-bound) goals.\n\n**keywords** — What do you want to achieve? (maxlength: 1000)",
                  "value": {
                    "preset": "smart-goal-generator",
                    "keywords": "Increase online sales",
                    "outputs": 1,
                    "language": "English",
                    "shouldUseGPT4": false
                  }
                },
                "testimonial-and-review-generator": {
                  "summary": "Testimonial & Review Generator",
                  "description": "Generate Testimonials & Reviews in Seconds.\n\n**keywords** — Product/Service Name (maxlength: 1000)\n\n**extra1** — What to include (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)\n\n**length** — Output length",
                  "value": {
                    "preset": "testimonial-and-review-generator",
                    "keywords": "Easy-Peasy.AI",
                    "extra1": "Amazing app. can quickly create content for my blog, social media, job descriptions.",
                    "tone": "catchy, energetic, clever",
                    "length": "Medium",
                    "outputs": 1
                  }
                },
                "press-release-generator": {
                  "summary": "Press Release Generator",
                  "description": "Create Professional Press Releases in Seconds.\n\n**keywords** — Product/Service Name (maxlength: 1000)\n\n**extra1** — What is your Press Release about? (maxlength: 1000)\n\n**extra2** — Keywords (optional) (maxlength: 1000)\n\n**tone** — Tone (optional) (maxlength: 1000)",
                  "value": {
                    "preset": "press-release-generator",
                    "keywords": "Easy-Peasy.AI",
                    "extra1": "Easy-Peasy.AI launches a new product called AI Audio Transcription.",
                    "extra2": "artificial intelligence, podcast, transcription",
                    "tone": "professional",
                    "outputs": 1
                  }
                },
                "amazon-product-description-paragraph": {
                  "summary": "Amazon Product Description",
                  "description": "Create Amazon product descriptions that sell.\n\n**keywords** — Product Name (maxlength: 1000)\n\n**extra1** — Key benefits/features (maxlength: 1000)\n\n**tone** — Tone (maxlength: 1000)",
                  "value": {
                    "preset": "amazon-product-description-paragraph",
                    "keywords": "Aveeno",
                    "extra1": "A baby soap that is gentle and effective. Formulated with natural oat ingredients.",
                    "tone": "witty, professional",
                    "outputs": 1
                  }
                },
                "amazon-product-bullets": {
                  "summary": "Amazon Product Bullets",
                  "description": "Create key feature and benefit bullet points for Amazon listings.\n\n**keywords** — Product Name (maxlength: 1000)\n\n**extra1** — Key benefits/features (maxlength: 1000)\n\n**tone** — Tone (maxlength: 1000)",
                  "value": {
                    "preset": "amazon-product-bullets",
                    "keywords": "Aveeno",
                    "extra1": "A baby soap that is gentle and effective. Formulated with natural oat ingredients.",
                    "tone": "witty, professional",
                    "outputs": 1
                  }
                },
                "startup-ideas": {
                  "summary": "Startup Ideas",
                  "description": "Generate your next startup idea.\n\n**keywords** — Keywords (maxlength: 1000)",
                  "value": {
                    "preset": "startup-ideas",
                    "keywords": "blockchain, ecommerce",
                    "outputs": 1
                  }
                },
                "user-story": {
                  "summary": "User Story",
                  "description": "Get your product features into the hands of users faster with agile user stories.\n\n**keywords** — Feature (maxlength: 1000)",
                  "value": {
                    "preset": "user-story",
                    "keywords": "data syncing with an Apple Watch",
                    "outputs": 1
                  }
                },
                "acceptance-criteria": {
                  "summary": "Acceptance Criteria",
                  "description": "Quickly and easily generate acceptance criteria.\n\n**keywords** — Feature (maxlength: 1000)",
                  "value": {
                    "preset": "acceptance-criteria",
                    "keywords": "data syncing with an Apple Watch",
                    "outputs": 1
                  }
                },
                "fill-the-gaps": {
                  "summary": "Fill the Gaps",
                  "description": "Add contextually relevant text in the middle of existing content.\n\n**keywords** — Start section (maxlength: 1000)\n\n**suffix** — End section (maxlength: 1000)",
                  "value": {
                    "preset": "fill-the-gaps",
                    "keywords": "Hi Peter! Thank you for your offer",
                    "suffix": "Looking forward working together with you!",
                    "outputs": 1
                  }
                },
                "business-name": {
                  "summary": "Business Name Generator",
                  "description": "Generate business names that are both creative and professional.\n\n**keywords** — What is your business about? (maxlength: 1000)",
                  "value": {
                    "preset": "business-name",
                    "keywords": "A startup that uses AI to help copywriters create human-like text.",
                    "outputs": 1
                  }
                },
                "eli5": {
                  "summary": "Explain Like I'm 5",
                  "description": "Explain a complex or obscure topic in the simplest of terms.\n\n**keywords** — Topic (maxlength: 1000)",
                  "value": {
                    "preset": "eli5",
                    "keywords": "What is an API",
                    "outputs": 1
                  }
                },
                "translate-to-singlish": {
                  "summary": "Translate to Singlish",
                  "description": "Get your message across in Singlish.\n\n**keywords** — Text (maxlength: 1000)",
                  "value": {
                    "preset": "translate-to-singlish",
                    "keywords": "I would like coffee with milk",
                    "outputs": 1
                  }
                },
                "pick-up-line-generator": {
                  "summary": "Pick Up Line Generator",
                  "description": "Never run out of lines.\n\n**keywords** — Keywords (maxlength: 100)\n\n**extra2** — For whom? (maxlength: 1000)",
                  "value": {
                    "preset": "pick-up-line-generator",
                    "keywords": "gym",
                    "extra2": "Positive",
                    "outputs": 1
                  }
                },
                "instagram-bio": {
                  "summary": "Instagram Bio",
                  "description": "Make your Instagram profile stand out.\n\n**keywords** — Personal Information (maxlength: 1000)",
                  "value": {
                    "preset": "instagram-bio",
                    "keywords": "IT guru from France. Posting about cats.",
                    "outputs": 1
                  }
                },
                "podcast-episode-title-generator": {
                  "summary": "Podcast Episode Title Generator",
                  "description": "Generate podcast episode titles.\n\n**keywords** — Episode Description or Summary (maxlength: 2000)\n\n**tone** — Tone (maxlength: 1000)",
                  "value": {
                    "preset": "podcast-episode-title-generator",
                    "keywords": "Discussion about the future of AI in healthcare",
                    "tone": "professional, funny, witty",
                    "outputs": 1
                  }
                },
                "podcast-episode-description-generator": {
                  "summary": "Podcast Episode Description Generator",
                  "description": "Generate podcast episode descriptions.\n\n**keywords** — Episode Summary (maxlength: 2000)\n\n**tone** — Tone (maxlength: 1000)",
                  "value": {
                    "preset": "podcast-episode-description-generator",
                    "keywords": "Discussion about the future of AI in healthcare",
                    "tone": "professional, funny, witty",
                    "outputs": 1
                  }
                },
                "podcast-show-notes-generator": {
                  "summary": "Podcast Show Notes Generator",
                  "description": "Create show notes that will help you grow your podcast audience.\n\n**keywords** — Podcast Transcript or Summary (maxlength: 15000)\n\n**extra1** — Show Notes Example (optional) (maxlength: 1500)",
                  "value": {
                    "preset": "podcast-show-notes-generator",
                    "keywords": "Summary of our episode about AI trends in 2024",
                    "extra1": "",
                    "outputs": 1
                  }
                },
                "real-estate-listing-generator": {
                  "summary": "Real Estate Listing Generator",
                  "description": "Craft compelling real estate listings.\n\n**keywords** — Information about the home (maxlength: 1000)",
                  "value": {
                    "preset": "real-estate-listing-generator",
                    "keywords": "bungalow, private pool, lift, walk to beach, future mrt. 5 beds. 6 baths. 2 carparks. 4510 sqft. 99 years leasehold. $2.5m. Punggol.",
                    "outputs": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the generated outputs as an array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfTexts"
                }
              }
            }
          },
          "401": {
            "description": "Invalid payload or no available word credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          }
        }
      }
    },
    "/api/presets": {
      "get": {
        "summary": "List Presets",
        "operationId": "listPresets",
        "description": "Retrieve a list of all available text generation presets (templates). Use this to discover which presets you can pass to the `/api/generate` endpoint.\n\nOptionally filter by category. Only presets with input fields are returned.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Social Media",
                "Content",
                "Business",
                "HR",
                "Marketing",
                "Resume",
                "Education",
                "Project Management",
                "Tools",
                "Other"
              ]
            },
            "description": "Filter presets by category",
            "example": "Marketing"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved presets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetsListResponse"
                },
                "example": {
                  "presets": [
                    {
                      "slug": "custom-generator",
                      "title": "Custom Generator",
                      "description": "Generate custom text for any purpose.",
                      "category": [
                        "Tools",
                        "Content",
                        "Marketing",
                        "Other",
                        "Social Media",
                        "Business",
                        "Resume"
                      ],
                      "isFree": false
                    },
                    {
                      "slug": "paragraph-writer",
                      "title": "Paragraph Writer",
                      "description": "Generate paragraphs with the click of a button!",
                      "category": [
                        "Tools",
                        "Content",
                        "Social Media",
                        "Marketing",
                        "Business"
                      ],
                      "isFree": true
                    }
                  ],
                  "total": 2,
                  "categories": [
                    "Social Media",
                    "Content",
                    "Business",
                    "HR",
                    "Marketing",
                    "Resume",
                    "Education",
                    "Project Management",
                    "Tools",
                    "Other"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/presets/{slug}": {
      "get": {
        "summary": "Get Preset Details",
        "operationId": "getPreset",
        "description": "Retrieve the full configuration for a specific preset, including all input fields and their constraints.\n\nUse this to understand exactly which parameters to pass when calling `/api/generate` with this preset.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The preset slug (e.g. `custom-generator`, `blog-post`, `paragraph-writer`)",
            "example": "paragraph-writer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved preset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetDetailResponse"
                },
                "example": {
                  "slug": "paragraph-writer",
                  "title": "Paragraph Writer",
                  "description": "Generate paragraphs with the click of a button!",
                  "category": [
                    "Tools",
                    "Content",
                    "Social Media",
                    "Marketing",
                    "Business"
                  ],
                  "isFree": true,
                  "fields": [
                    {
                      "name": "keywords",
                      "label": "What the paragraph is about",
                      "type": "textarea",
                      "required": true,
                      "placeholder": "example: how to optimize your website for search engines",
                      "maxLength": 2500
                    },
                    {
                      "name": "extra1",
                      "label": "Keywords to include (optional)",
                      "type": "text",
                      "required": false,
                      "placeholder": "example: meta tags, link building, sitemap.xml",
                      "maxLength": 1000
                    },
                    {
                      "name": "tone",
                      "label": "Tone",
                      "type": "text",
                      "required": false,
                      "placeholder": "example: friendly, funny, cheerful",
                      "maxLength": 250
                    },
                    {
                      "name": "length",
                      "label": "Output length",
                      "type": "radio",
                      "required": false,
                      "radioOptions": [
                        {
                          "value": "Short",
                          "default": false
                        },
                        {
                          "value": "Medium",
                          "default": true
                        },
                        {
                          "value": "Long",
                          "default": false
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing slug parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing slug parameter"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "404": {
            "description": "Preset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Preset not found"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/generate-image": {
      "post": {
        "summary": "Generate Image",
        "operationId": "generateImage",
        "description": "Generate images from a prompt, or edit supplied images. model selects the text-to-image generator; editModel selects the editor for Edit Image with AI. API-key requests wait for standard generation results. Check every returned image_url. Premium models and available credits depend on the account plan.",
        "requestBody": {
          "description": "The prompt and model to generate the image",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful image generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields or invalid values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid input"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication, or blocked account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient credits or model unavailable on the current plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Server error"
                }
              }
            }
          }
        }
      }
    },
    "/api/transcriptions": {
      "post": {
        "summary": "Create Transcription",
        "operationId": "createTranscription",
        "description": "Programmatically create [AI Transcriptions](https://easy-peasy.ai/audios) from audio files.",
        "requestBody": {
          "description": "The audio parameters to create transcriptions",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful transcription creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields or invalid values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid input"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key, or blocked account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Paid subscription required or monthly transcription limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Server error"
                }
              }
            }
          }
        }
      }
    },
    "/api/audios": {
      "post": {
        "summary": "Get Transcription Result",
        "operationId": "getTranscriptionResult",
        "description": "Retrieve a transcription by its UUID using the same account’s API key. Fields are returned at the top level (no audio wrapper). Poll every 15–30 seconds while processing. transcription_status: done means complete, including no-speech results with empty content; failed means stop. Older records can have content without a status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio transcription data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudioResponse"
                },
                "examples": {
                  "processing": {
                    "summary": "Transcription still processing",
                    "value": {
                      "uuid": "4bc4e8ee-f29e-4a53-996e-5da955c42927",
                      "name": "Team Meeting",
                      "content": "",
                      "created_at": "2025-01-15T10:30:00.000Z",
                      "segments": [],
                      "audio_type": "Meeting",
                      "language": "English",
                      "transcription_status": "processing"
                    }
                  },
                  "completed": {
                    "summary": "Transcription complete",
                    "value": {
                      "uuid": "4bc4e8ee-f29e-4a53-996e-5da955c42927",
                      "name": "Team Meeting",
                      "content": "Speaker 1: Good morning everyone. Let's start with the project update...",
                      "created_at": "2025-01-15T10:30:00.000Z",
                      "segments": [
                        {
                          "start": "0.00",
                          "end": "3.50",
                          "text": "Good morning everyone.",
                          "speaker": "Speaker 1"
                        }
                      ],
                      "audio_type": "Meeting",
                      "language": "English",
                      "transcription_status": "done"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing audio_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "404": {
            "description": "Audio not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Audio not found"
                }
              }
            }
          },
          "500": {
            "description": "Could not check transcription status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/generate-audio-content": {
      "post": {
        "summary": "Generate Audio Content",
        "operationId": "generateAudioContent",
        "description": "Generate AI-powered content from a completed transcription. Produces summaries, titles, action items, and more depending on the audio type.\n\n**Content generated by audio type:**\n- **Meeting**: summary, title, description, action items, keywords, timestamped overview, topics & bullets, LinkedIn post\n- **Podcast**: summary, title, description, show notes, Twitter thread, article, newsletter, keywords, questions, LinkedIn post, timestamped overview, topics & bullets\n- **Therapy Session**: summary, title, description, progress note, SOAP note, DAP note, keywords, timestamped overview, topics & bullets, LinkedIn post\n\nYou can generate all fields at once or specify individual fields with the `fields` parameter.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAudioContentRequest"
              },
              "examples": {
                "all_fields": {
                  "summary": "Generate all content",
                  "value": {
                    "audio_id": "4bc4e8ee-f29e-4a53-996e-5da955c42927"
                  }
                },
                "specific_fields": {
                  "summary": "Generate specific fields only",
                  "value": {
                    "audio_id": "4bc4e8ee-f29e-4a53-996e-5da955c42927",
                    "fields": [
                      "summary",
                      "title",
                      "keywords"
                    ]
                  }
                },
                "force_regenerate": {
                  "summary": "Force regenerate existing content",
                  "value": {
                    "audio_id": "4bc4e8ee-f29e-4a53-996e-5da955c42927",
                    "fields": [
                      "summary"
                    ],
                    "force": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAudioContentResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "summary": "The team discussed Q1 progress, reviewed the product roadmap, and assigned action items for the upcoming sprint.",
                    "title": "Q1 Review & Sprint Planning Meeting",
                    "keywords": "Q1 review, sprint planning, product roadmap, action items",
                    "action_items": "1. John to finalize the design mockups by Friday\n2. Sarah to update the project timeline\n3. Team to review the new feature spec"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — audio not yet transcribed or invalid fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Audio has not been transcribed yet"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          }
        }
      }
    },
    "/api/generate-video": {
      "post": {
        "summary": "Generate Video",
        "operationId": "generateVideo",
        "description": "Generate videos from text, first/last frames, or reference media with MiniMax H3 Max, Seedance 2.5, Gemini Omni Flash 1.1, FLUX 3, WAN 3.0, Veo, Kling, and other models. The exact model title is required. See the [video model reference](/api-reference/video-models) for supported settings.\n\nGeneration is asynchronous. Save the returned id and poll [Get Video](/api-reference/endpoint/get-video) with the same account’s API key. Paid plans require sufficient credits; free access is limited to selected variants and settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateVideoRequest"
              },
              "examples": {
                "minimax_text": {
                  "summary": "MiniMax H3 Max text-to-video",
                  "value": {
                    "prompt": "A cat walks on the beach at sunset, cinematic lighting",
                    "model": "MiniMax H3 Max",
                    "duration": "5",
                    "aspectRatio": "16:9",
                    "resolution": "768p"
                  }
                },
                "minimax_image": {
                  "summary": "MiniMax H3 Max image-to-video",
                  "value": {
                    "prompt": "The subject slowly turns toward the camera",
                    "model": "MiniMax H3 Max Image",
                    "image": "https://yourcdn.com/first-frame.png",
                    "duration": "5",
                    "aspectRatio": "16:9",
                    "resolution": "768p"
                  }
                },
                "seedance_references": {
                  "summary": "Seedance 2.5 with references",
                  "value": {
                    "prompt": "The character walks through a neon-lit market",
                    "model": "Seedance 2.5 Reference",
                    "referenceImages": [
                      {
                        "url": "https://yourcdn.com/character.png"
                      }
                    ],
                    "referenceVideos": [
                      {
                        "url": "https://yourcdn.com/motion.mp4"
                      }
                    ],
                    "referenceAudios": [
                      {
                        "url": "https://yourcdn.com/voice.mp3"
                      }
                    ],
                    "duration": "5",
                    "aspectRatio": "16:9",
                    "resolution": "720p"
                  }
                },
                "text_to_video": {
                  "summary": "Text-to-video",
                  "value": {
                    "prompt": "A cat walking on the beach at sunset, cinematic lighting",
                    "model": "Veo 3.1 Fast",
                    "duration": "4s",
                    "aspectRatio": "16:9",
                    "resolution": "720p"
                  }
                },
                "image_to_video": {
                  "summary": "Image-to-video",
                  "value": {
                    "prompt": "The subject slowly turns and smiles at the camera",
                    "image": "https://example.com/photo.jpg",
                    "model": "Veo 3.1 Fast Image",
                    "duration": "8s",
                    "aspectRatio": "16:9",
                    "resolution": "720p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateVideoResponse"
                },
                "example": {
                  "id": 12345,
                  "prompt": "A cat walking on the beach at sunset",
                  "image_url": "",
                  "model": "Veo 3.1 Fast",
                  "is_video": true,
                  "created_at": "2025-01-15T10:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid model, duration, aspect ratio, or input type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid model selected"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "403": {
            "description": "Credit limit reached or model/settings unavailable on the current plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "This model is not available on the Free plan. Try Veo 3.1 or Seedance 2.0 Mini, or upgrade to unlock all models."
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. Use POST.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Provider or server error. Preserve any existing job ID before deciding to submit another generation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/get-video": {
      "get": {
        "summary": "Get Video",
        "operationId": "getVideo",
        "description": "Retrieve the status and result of a video generation request. Since video generation is asynchronous (typically 1–5 minutes), poll this endpoint every 15–30 seconds until the `status` is `completed` and the `url` field contains the video URL.",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The video ID returned from the Generate Video endpoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Video data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVideoResponse"
                },
                "examples": {
                  "processing": {
                    "summary": "Video still processing",
                    "value": {
                      "video": {
                        "id": 12345,
                        "prompt": "A cat walking on the beach at sunset",
                        "url": "",
                        "model": "Veo 3.1 Fast",
                        "status": "processing",
                        "created_at": "2025-01-15T10:30:00.000Z",
                        "request": {
                          "duration": "4s",
                          "aspectRatio": "16:9",
                          "isTextToVideo": true,
                          "isImageToVideo": false
                        }
                      }
                    }
                  },
                  "completed": {
                    "summary": "Video completed",
                    "value": {
                      "video": {
                        "id": 12345,
                        "prompt": "A cat walking on the beach at sunset",
                        "url": "https://media.easy-peasy.ai/videos/abc123.mp4",
                        "model": "Veo 3.1 Fast",
                        "status": "completed",
                        "created_at": "2025-01-15T10:30:00.000Z",
                        "request": {
                          "duration": "4s",
                          "aspectRatio": "16:9",
                          "isTextToVideo": true,
                          "isImageToVideo": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing video_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "404": {
            "description": "Video missing, deleted, or not accessible to this account. Some failed jobs are deleted and return 404.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Video not found"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. Use GET.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/generate-talking-video": {
      "post": {
        "summary": "Generate Talking Video",
        "operationId": "generateTalkingVideo",
        "description": "Generate a talking video by animating a face image or video with speech. Provide either text + voice to generate audio, or supply your own audio file.\n\n**Input combinations:**\n- **Image + text + voice** — Generates speech from text using the specified voice, then animates the face in the image\n- **Image + audio** — Uses the provided audio to animate the face in the image\n- **Video + text + voice** — Generates speech from text, then lip-syncs the video\n- **Video + audio** — Lip-syncs the video with the provided audio\n\n**Models:**\n- `premium` — High-quality avatar generation (VEED Fabric). Supports 480p and 720p.\n- `standard` — Faster generation (WaveSpeed InfiniteTalk). Supports 480p and 720p.\n\nVideo generation is asynchronous. Use the [Get Video](/api-reference/endpoint/get-video) endpoint to poll for results.\n\n**Note:** Requires a paid plan. Image must be at least 512x512 pixels. Audio/video max 5 minutes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTalkingVideoRequest"
              },
              "examples": {
                "image_with_text": {
                  "summary": "Image + text-to-speech",
                  "value": {
                    "image": "https://example.com/portrait.jpg",
                    "text": "Hello! Welcome to our product demo.",
                    "voiceID": "21m00Tcm4TlvDq8ikWAM",
                    "avatarModel": "premium",
                    "resolution": "720p"
                  }
                },
                "image_with_audio": {
                  "summary": "Image + audio file",
                  "value": {
                    "image": "https://example.com/portrait.jpg",
                    "audio": "https://example.com/narration.mp3",
                    "avatarModel": "standard",
                    "resolution": "480p"
                  }
                },
                "video_with_audio": {
                  "summary": "Video lip-sync with audio",
                  "value": {
                    "video": "https://example.com/clip.mp4",
                    "audio": "https://example.com/narration.mp3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Talking video generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateVideoResponse"
                },
                "example": {
                  "id": 12345,
                  "prompt": "Hello! Welcome to our product demo.",
                  "image_url": "",
                  "is_video": true,
                  "created_at": "2025-01-15T10:30:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing required fields or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Image or video is required"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          },
          "403": {
            "description": "Plan limit reached or free plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Talking video generation is not available on the Free plan. Please upgrade to a paid plan."
                }
              }
            }
          }
        }
      }
    },
    "/api/generate-sound": {
      "post": {
        "summary": "Generate Sound Effect",
        "operationId": "generateSoundEffect",
        "description": "Generate AI sound effects from a text description using ElevenLabs. Returns the audio URL immediately (synchronous).\n\nUsage is counted against your plan's character limit.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSoundRequest"
              },
              "examples": {
                "short_effect": {
                  "summary": "Short sound effect",
                  "value": {
                    "prompt": "A door creaking open slowly in a haunted house",
                    "duration": 3
                  }
                },
                "ambient": {
                  "summary": "Ambient sound",
                  "value": {
                    "prompt": "Rain falling on a tin roof with distant thunder",
                    "duration": 10,
                    "prompt_influence": 0.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sound effect generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateSoundResponse"
                },
                "example": {
                  "url": "https://media.easy-peasy.ai/tts/user-id/abc123.mp3",
                  "text": "A door creaking open slowly in a haunted house",
                  "seconds": 3,
                  "status": "completed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing prompt or plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Missing parameter prompt"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Invalid API key"
                }
              }
            }
          }
        }
      }
    },
    "/api/get-text-to-speech-config": {
      "get": {
        "summary": "Get TTS Configuration",
        "operationId": "getTTSConfig",
        "description": "Retrieve available filter options for text-to-speech voices.\n\nReturns the available languages, accents, genders, ages and use cases, and the total number of ready-made voices.\n\nThis endpoint helps you understand what filter values you can use when calling the `/api/get-text-to-speech-voices` endpoint.\n\n**Workflow:**\n1. Call without parameters to get all available languages\n2. Choose a language\n3. Call with `language` parameter to get accents available for that language\n4. Use language and accent to filter voices in `/api/get-text-to-speech-voices`\n\n**Note:** This endpoint does not require authentication.",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter accents by language (e.g., \"English\", \"Spanish\", \"French\")",
            "example": "English"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigResponse"
                },
                "examples": {
                  "all-config": {
                    "summary": "All configuration without filters",
                    "value": {
                      "languages": [
                        "English",
                        "Spanish",
                        "French",
                        "German",
                        "Italian",
                        "Portuguese",
                        "Polish",
                        "Dutch",
                        "Hindi",
                        "Japanese",
                        "Chinese"
                      ],
                      "accents": [
                        "American",
                        "British",
                        "Australian",
                        "Indian",
                        "Irish",
                        "Scottish",
                        "Spanish",
                        "French",
                        "German"
                      ],
                      "total_voices": 150,
                      "filtered_by_language": null,
                      "filtered_voices_count": null,
                      "genders": [
                        "female",
                        "male",
                        "neutral"
                      ],
                      "ages": [
                        "young",
                        "middle_aged",
                        "old"
                      ],
                      "use_cases": [
                        "conversational",
                        "narrative_story",
                        "informative_educational",
                        "social_media",
                        "characters_animation",
                        "entertainment_tv",
                        "advertisement"
                      ]
                    }
                  },
                  "filtered-config": {
                    "summary": "Configuration filtered by English language",
                    "value": {
                      "languages": [
                        "English",
                        "Spanish",
                        "French",
                        "German",
                        "Italian",
                        "Portuguese",
                        "Polish",
                        "Dutch",
                        "Hindi",
                        "Japanese",
                        "Chinese"
                      ],
                      "accents": [
                        "American",
                        "British",
                        "Australian",
                        "Indian",
                        "Irish",
                        "Scottish"
                      ],
                      "total_voices": 150,
                      "filtered_by_language": "English",
                      "filtered_voices_count": 85,
                      "genders": [
                        "female",
                        "male",
                        "neutral"
                      ],
                      "ages": [
                        "young",
                        "middle_aged",
                        "old"
                      ],
                      "use_cases": [
                        "conversational",
                        "narrative_story",
                        "informative_educational",
                        "social_media",
                        "characters_animation",
                        "entertainment_tv",
                        "advertisement"
                      ]
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Method not allowed"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Server error. Please try again."
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/get-text-to-speech-voices": {
      "get": {
        "summary": "Get TTS Voices",
        "operationId": "getTTSVoices",
        "description": "Retrieve a list of available voices for text-to-speech generation.\n\nReturns all predefined voices (ElevenLabs and OpenAI) and optionally the user's custom cloned voices.\n\n**Filtering:**\n- Filter by language using the `language` query parameter\n- Filter by accent using the `accent` query parameter\n- Filter ready-made voices by `gender`, `age` and `use_case` (values from `/api/get-text-to-speech-config`)\n- Filters can be combined\n\n**Authentication:**\n- Optional: Endpoint works without authentication for public voices\n- Required for custom voices: Include `x-api-key` header",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter voices by language (e.g., \"English\", \"Spanish\", \"French\")",
            "example": "English"
          },
          {
            "name": "accent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter voices by accent (e.g., \"American\", \"British\", \"Australian\")",
            "example": "American"
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "female",
                "male",
                "neutral"
              ]
            },
            "description": "Filter ready-made voices by gender",
            "example": "female"
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "young",
                "middle_aged",
                "old"
              ]
            },
            "description": "Filter ready-made voices by age",
            "example": "young"
          },
          {
            "name": "use_case",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "conversational",
                "narrative_story",
                "informative_educational",
                "social_media",
                "characters_animation",
                "entertainment_tv",
                "advertisement"
              ]
            },
            "description": "Filter ready-made voices by what they are made for",
            "example": "conversational"
          },
          {
            "name": "include_custom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Include user's custom cloned voices in the response (requires authentication)",
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved voices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoicesResponse"
                },
                "examples": {
                  "all-voices": {
                    "summary": "All voices without filters",
                    "value": {
                      "voices": [
                        {
                          "id": "21m00Tcm4TlvDq8ikWAM",
                          "name": "Rachel",
                          "description": "calm",
                          "image": "https://media.easy-peasy.ai/voices/rachel.png",
                          "language": "English",
                          "accent": "American",
                          "gender": "female",
                          "age": "young",
                          "use_case": "narrative_story",
                          "tone": "calm"
                        },
                        {
                          "id": "alloy",
                          "name": "Alloy",
                          "description": "A neutral, balanced voice",
                          "image": "https://media.easy-peasy.ai/voices/alloy.png",
                          "language": "English",
                          "gender": "neutral",
                          "age": null,
                          "use_case": null,
                          "tone": null
                        }
                      ],
                      "total": 2,
                      "filters": {
                        "language": null,
                        "accent": null,
                        "gender": null,
                        "age": null,
                        "use_case": null
                      },
                      "available": {
                        "languages": [
                          "English",
                          "Spanish",
                          "French",
                          "German"
                        ],
                        "accents": [
                          "American",
                          "British",
                          "Australian"
                        ]
                      }
                    }
                  },
                  "filtered-voices": {
                    "summary": "Filtered by language",
                    "value": {
                      "voices": [
                        {
                          "id": "21m00Tcm4TlvDq8ikWAM",
                          "name": "Rachel",
                          "description": "calm",
                          "image": "https://media.easy-peasy.ai/voices/rachel.png",
                          "language": "English",
                          "accent": "American",
                          "gender": "female",
                          "age": "young",
                          "use_case": "narrative_story",
                          "tone": "calm"
                        }
                      ],
                      "total": 1,
                      "filters": {
                        "language": "English",
                        "accent": null,
                        "gender": null,
                        "age": null,
                        "use_case": null
                      },
                      "available": {
                        "languages": [
                          "English"
                        ],
                        "accents": [
                          "American",
                          "British"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Your account is blocked. Please contact support."
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Method not allowed"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Server error. Please try again."
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/api/generate-text-to-speech": {
      "post": {
        "summary": "Generate Text-to-Speech",
        "operationId": "generateTTS",
        "description": "Convert text to speech using various AI voices. The generated audio is returned as a publicly accessible URL.\n\n**Usage Limits:**\n- Free plan: Limited words per billing period\n- Paid plans: Higher limits based on subscription tier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              },
              "examples": {
                "basic-example": {
                  "summary": "Generate speech with AI voice",
                  "value": {
                    "voiceID": "21m00Tcm4TlvDq8ikWAM",
                    "text": "Hello! This is a test of the text-to-speech API. It supports multiple languages and custom voice settings."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated audio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextToSpeechResponse"
                },
                "example": {
                  "uuid": "550e8400-e29b-41d4-a716-446655440000",
                  "url": "https://media.easy-peasy.ai/tts/27feb2bb-aeb4-4a83-9fb6-8f3f2a15885e/6848fb55-48e7-455d-bd56-3cb5ce2cd81e.mp3",
                  "used_characters": 10,
                  "status": "completed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing parameters or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing-parameter": {
                    "value": {
                      "error": "Missing parameter"
                    }
                  },
                  "limit-reached": {
                    "value": {
                      "error": "You have reached the limit of 10000 characters for your plan. Please upgrade your plan to continue using the service."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid-api-key": {
                    "value": {
                      "error": "Invalid API key"
                    }
                  },
                  "blocked-account": {
                    "value": {
                      "error": "Your account is blocked. Please contact support."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Server error. Please try again."
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/completions": {
      "post": {
        "summary": "Chat Completions (OpenAI-compatible)",
        "operationId": "chatCompletions",
        "description": "Use the OpenAI SDK’s chat.completions.create method with the Easy-Peasy.AI base URL and API key. Supports the request fields documented here, text responses, and SSE streaming. Multimodal support depends on the selected model. Tool calling, response_format, n, and other undocumented OpenAI options are not implemented by this endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionsRequest"
              },
              "example": {
                "messages": [
                  {
                    "role": "system",
                    "content": "You are a helpful assistant."
                  },
                  {
                    "role": "user",
                    "content": "Explain quantum computing in simple terms."
                  }
                ],
                "model": "gemini-3-flash",
                "temperature": 0.7,
                "max_tokens": 1000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionsResponse"
                },
                "example": {
                  "id": "chatcmpl-1741234567890",
                  "object": "chat.completion",
                  "created": 1741234567,
                  "model": "gemini-3-flash",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "Quantum computing is..."
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 25,
                    "completion_tokens": 150,
                    "total_tokens": 175
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — messages is missing or empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "messages is required and must be a non-empty array",
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key, or account blocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "Invalid API key",
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Word allowance reached for the current plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "Token limit reached for your subscription plan",
                    "type": "server_error"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIError"
                },
                "example": {
                  "error": {
                    "message": "Internal server error",
                    "type": "server_error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/get-image": {
      "get": {
        "summary": "Get Image",
        "operationId": "getImage",
        "description": "Retrieve an existing image by id using the same account’s API key. Useful for legacy image integrations that return a pending record. The query parameter is imageId (camelCase). The response is a single object; read image_url at the top level.",
        "parameters": [
          {
            "name": "imageId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The id from a Generate Image response.",
            "example": 12345
          }
        ],
        "responses": {
          "200": {
            "description": "Image record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetImageResponse"
                },
                "example": {
                  "id": 12345,
                  "image_url": "https://yourcdn.com/generated-image.png",
                  "model": "Midjourney V7",
                  "prompt": "A cat in a garden",
                  "used_credits": 2
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid imageId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key, or blocked account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Image missing or not accessible to this account.",
            "content": {
              "application/json": {
                "schema": {
[...]
